{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>RideEther Driver Home</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
   <link rel="icon" href="{% static 'images/RideEther.png' %}" type="image/x-image" />
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css" />
</head>

<body class="main-layout">
   <header>
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/"><img src="{% static 'images/RideEtherLogo.png' %}" alt="#"></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              {% if flag == 1 %}
                              {% if notice == 1 %}
                              <li class="active"><a href="acceptRide" class="fa fa-bell-o"></a></li>
                              {% endif %}
                              {% if available is True %}
                              <li class="avail"> <a href="driverIndex">Available</a></li>
                              {% else %}
                              <li class="busy"> <a href="driverIndex">Busy</a> </li>
                              {% endif %}
                              {% else %}
                              <li class="notLogin"> <a href="driverLogin">Not Login</a> </li>
                              {% endif %}
                              <li class="active"> <a href="driverIndex">Home</a> </li>
                              {% if flag == 1 %}
                              <li><a href="#" style="color: #000;">Hello, {{name}}</a></li>
                              <li><a href="driverLogout">logout</a></li>
                              {% else %}
                              <li><a href="driverLogin">login</a></li>
                              <li><a href="driverRegister">Sign Up</a></li>
                              {% endif %}
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <section>
      <div class="banner-main">
         <img src="{% static 'images/banner.jpg' %}" alt="#" type="image/x-image" />
         <div class="container">
            <div class="text-bg">
               <h1>Take<br><strong class="white"> Ride in Ether</strong></h1>
               <div class="available">
                  <a href="start">Available</a>
                  <a href="stop">Busy</a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <footer>
      <div id="contact" class="footer">
         <div class="container">
            <div class="row pdn-top-30">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <ul class="location_icon">
                     <li> <a href="#contacts"><img src="{% static 'icon/facebook.png' %}"
                              type="image/x-image"></a></li>
                     <li> <a href="#contacts"><img src="{% static 'icon/Twitter.png' %}"
                              type="image/x-image"></a></li>
                     <li> <a href="#contacts"><img src="{% static 'icon/linkedin.png' %}"
                              type="image/x-image"></a></li>
                     <li> <a href="#contacts"><img src="{% static 'icon/insta.png' %}" type="image/x-image"></a>
                     </li>
                  </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3>CONTACT US</h3>
                     <span>Sri Eshwar College of Engineering <br>Kondampatti,<br>
                        Vadasithur,<br> Coimbatore – 641 202<br>
                        +91 7353618172</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="link">
                        <li> <a href="#contacts">About us</a></li>
                        <li> <a href="#contacts">Terms and conditions</a></li>
                        <li> <a href="#contacts"> Privacy policy</a></li>
                        <li> <a href="#contacts">News</a></li>
                        <li> <a href="#contacts"> Contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3> Contact</h3>
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                           <input class="Newsletter" placeholder="Name" type="text">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                           <input class="Newsletter" placeholder="Email" type="text">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                           <textarea class="textarea" placeholder="comment" type="text">Comment</textarea>
                        </div>
                     </div>
                     <button class="Subscribe">Submit</button>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
               </div>
            </div>
         </div>
      </div>
   </footer>
   <script src="{% static 'js/jquery.min.js' %}" type="text/js"></script>
   <script src="{% static 'js/popper.min.js' %}" type="text/js"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/js"></script>
   <script src="{% static 'js/jquery-3.0.0.min.js' %}" type="text/js"></script>
   <script src="{% static 'js/plugin.js' %}" type="text/js"></script>
   <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}" type="text/js""></script>
      <script src=" {% static 'js/custom.js' %}" type="text/js"></script>
   <script src="{% static 'js/owl.carousel.js' %}" type="text/js"></script>
   <script>
      $(document).ready(function () {
         var owl = $('.owl-carousel');
         owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
               0: {
                  items: 1
               },
               600: {
                  items: 2
               },
               1000: {
                  items: 3
               }
            }
         })
      })
   </script>
</body>

</html>