{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/loginLogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="main_box">
        <img src="{% static 'images/avatar.png' %}" class="logo">
        <h1>Register</h1>
        <form action="register" method="POST">
            {% csrf_token %}
            <p>First Name</p>
            <input type="text" placeholder="Enter First Name">
            <p>Last Name</p>
            <input type="text" placeholder="Enter Last Name">
            <p>Email id</p>
            <input type="text" placeholder="Enter Email id">
            <p>Username</p>
            <input type="text" placeholder="Enter Username">
            <p>Phone Number</p>
            <input type="text" placeholder="Enter Phone Number">
            <p>Password</p>
            <input type="password" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" placeholder="Enter Confirm Password">
            <br><br>
            <input type="submit" class="login_btn" value="Register">
        </form>
    </div>
</body>
</html>